@import '~antd/dist/antd.css';


html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  padding: 16px
}

h1 {
  display: block;
  padding: 32px;
  margin: 8px;
  background: #def;
  color: #334;
}

a[aria-current]{
  background:  #e2e2e2;
  padding: 8px;
  border-radius: 4px;
  margin: 10px 4px;
  border: 0;
  color: black;
}


a[aria-current].active {
  background:  #33aaaa ;
  padding: 8px;
  border-radius: 4px;
  margin: 10px 4px;
  border: 0;
  color: white;
}